.advantages {
  position: relative;
  width: 1920px;
  height: 784px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.advantages__header {
  font-family: "Rubik";
  font-size: 38px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  color: #ffffff;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
}

.advantages__img {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1350px) {
  .advantages {
    width: 360px;
    height: 460px;
  }

  .advantages__header {
    font-size: 28px;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    line-height: 39.2px;
    text-align: left;
    text-transform: uppercase;
  }

  .advantages__img {
    top: 300px;
    width: 360px;
  }
}
